body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.calculator {
    padding: 20px;
    width: 320px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
}

.button {
    width: 70px;
    height: 70px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    gap: 20px;
}
.buttonZero {
    width: 160px;
    height: 70px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    gap: 20px;
}
.resultAndCount {
    height: 70px;
    width: fit-content;
    text-align: right;
    margin-bottom: 20px;
    color: white;
    font-size: 60px;
    max-width: 300px;
    user-select: none;
    border: 1px solid red;
}
.containerResultAndCount {
    display: flex;
    justify-content: space-between;
}